header {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to right, #666666, #FDF200, #FFF);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #666666, #FDF200, #FFF);
    color: white;
    text-align: center;
  }


.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #FFF;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

a {
    color: #FFF;
}

a:hover {
    color: #FDF200;
}

body {
    margin: 0px 50px;
}

#logo {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
/* contactUs style */
.container {
    width: 1000px!important;
}
p {
    font-size: 12px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-primary {
    background-color: yellow!important;
}
.form-control {
    height: 36px;
    background: white;
    color: white;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none!important;
    border: 1px solid yellow

}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    color: white;
    margin-bottom: 2px;
}
.form-control:focus, .form-control:active {
border-color: rgba(166, 166, 31, 0.615)!important;
}
