.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    padding: 2rem 1rem; /* top and bottom/right and left // 2rem = 32px */
    margin: 0;
    background-image: linear-gradient(to right, #666666, #FDF200, #FFF);
    font-weight: 800;
}

footer {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem; /* top and bottom/right and left // 2rem = 32px */
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #666666, #FDF200, #FFF);
    text-align: center;
    align-items: center;
    font-weight: bold;
  }

  #footer-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -5px;
  }

  .topNavbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #FFF;
}

/* .topnavbar {
    background-image: linear-gradient(to right, #000, #666666);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 0;
    border: none;
} */
/* 
i {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    margin: 0;
    border-radius: 0;
    border: none; */
/* } */

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #000;
    background-color: #000;
    color: white;
  }

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

.arrowContainer {
    position: relative;
}

#sidenavArrow {
    position: fixed;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    color:#FFF;
    background-color: rgb(0,0,0,0.9);
    border-radius: 5%;
    cursor: pointer;
  }

  #sidenavArrow:hover {
    color: #FDF200;
    background-color:rgba(0,0,0,0.8);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

a {
    color: #FFF;
}

a:hover {
    background-color:rgba(0,0,0,0.8);
    color:#FDF200;
}
a > img:hover {
    background-color: transparent;
}

.btn {
    background-color:#000;
    color:#FFF;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color:rgba(0,0,0,0.9);
    color:#FDF200;
}

body {
    font-family: "Open Sans", sans-serif;
}

.card {
    margin-bottom: 10px;
}

.card-img-top {
  width: 350px;
  height: 200px;
  max-width: 100%;
}

#logo {
    width: 100%;
    height: auto;
}

p {
    font-size: 12px;
}
h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 800;
}
.bg-primary {
    background-color: yellow!important;
}
.form-control {
    height: 36px;
    background: white;
    color: white;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none!important;
    border: 1px solid yellow

}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    color: white;
    margin-bottom: 2px;
}
.form-control:focus, .form-control:active {
border-color: rgba(166, 166, 31, 0.615)!important;
}
/* About Us Styling */
.heading {
    text-align: center;
    margin-top: 25px;
}
.heading h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}

.heading p {
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.about-us {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img {
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}
.content {
    padding: 35px;
}
.content h2 {
    color: black;
    font-size: 24px;
    margin: 15px 0px;
}

.content p {
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.read-more-btn {
    display: inline-block;
    color: black;
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
}
.read-more-btn:hover{
    background-color: gray;
}
@media(max-width: 768px){
    .about-us {
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content {
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}
/* aboutusnavbar */
.navbar {
    background-color: black;
}
ul {
    margin: auto;
}